@font-face {
font-family: 'Crazy Thoughts';
src: 
	url("Crazy Thoughts.otf") format("opentype"),
 	url ("Crazy Thoughts.woff2") format('woff2'),
 	url("Crazy Thoughts.woff") format('woff'),
 	url("Crazy Thoughts.ttf") format('truetype');
}
 
@font-face {
font-family: 'Crazy Thoughts';
font-weight: normal;
src: 
	url("Crazy Thoughts.otf") format("opentype"),
 	url ("Crazy Thoughts.woff2") format('woff2'),
 	url("Crazy Thoughts.woff") format('woff'),
 	url("Crazy Thoughts.ttf") format('truetype');
}

body{
 	font-family: "Crazy Thoughts", sans-serif, 'Courier New';
 	font-size: 325%;
	line-height: 80%;
    width: 80%;
    color: #504330;
    background-color: #f0dfc3;
}

p {
    padding-right: 80px;
    padding-left: 80px;
}