@font-face {

    font-family: 'crazy_thoughtsregular';
    src: url('crazy_thoughts-webfont.eot');
    src: url('crazy_thoughts-webfont.eot?#iefix') format('embedded-opentype'),
         url('crazy_thoughts-webfont.woff2') format('woff2'),
         url('crazy_thoughts-webfont.woff') format('woff'),
         url('crazy_thoughts-webfont.ttf') format('truetype'),
         url('crazy_thoughts-webfont.svg#crazy_thoughtsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
 	font-family: "crazy_thoughtsregular";
 	font-size: 325%;
	line-height: 80%;
    width: 80%;
    color: #504330;
    background-color: #f0dfc3;

}

p {
    padding-right: 80px;
    padding-left: 80px;

}

.wave {
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 20px;
    background-color: #aecbd9;
    z-index: 1000;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 

body{

    margin-top: 125px;
    font-size: 500%;
    width: 100%

}

p{

padding-right: 300px;

}

.wave {
    position: absolute;
    width: 90%;
    height: 20px;
}




}