@font-face {
font-family: 'Crazy Thoughts';
src: url("/fonts/Crazy Thoughts.otf") format("opentype");
}
 
@font-face {
font-family: 'Crazy Thoughts';
font-weight: normal;
src: url("/fonts/Crazy Thoughts.otf") format("opentype");
}

body{
 	font-family: "Crazy Thoughts", sans-serif, 'Courier New';
 	font-size: 325%;
	line-height: 80%;
    width: 80%;
    color: #504330;
    background-color: #f0dfc3;
}

p {
    padding-right: 80px;
    padding-left: 80px;
}